@import "RESET.less";   
@import "elements.less";
@import "fonts.less"; 


 
body {
	font-family: 'Lato';
	.box-sizing(@sizing: border-box);
	* {
		font-family: 'Lato';
		.box-sizing(@sizing: border-box);
	}
	*:focus {
		outline:none;
	}
}

/* shadow */
.shadow {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
} 

/*.thin {
	font-weight:100; 
}
.extra-light {
	font-weight:200;
}*/
.light {
	font-weight:300;
}
.regular {
	font-weight:400;
}
/*.medium {
	font-weight:500;
}*/
.semi-bold {
	font-weight:600;
}
.bold {
	font-weight:700;
}
/*.extra-bold {
	font-weight:800;
}
.black {
	font-weight:900;
}*/

.wrap {
	overflow:hidden;
	width:100%;
}

.center {
	width:1210px;
	margin:0 auto;
	padding:0px 15px;
	@media screen and (max-width: 1300px) and (min-width: 768px) {
		width:758px;
	}
	@media screen and (max-width: 767px) and (min-width: 640px) {
		width:630px;
	}
	@media screen and (max-width: 639px) {
		width:320px;
	}
}

/* colors */
@darkblue : #342e5d;
@purple : #d01fb5;
@purplehover : #b3129a;
@grey : #4b4d4e;
@white : #FFF;

/* btns */
.btn {
	&__wrap {
		&__left {
			text-align:left;
		}
		&__right {
			text-align:right;
		}
		&__center {
			text-align:center;
		}
	}
	text-decoration:none;
	cursor:pointer;
	display:inline-block;
	text-align:center;
	.transition(0.2s);	
	max-width:100%;
	&__purple {
		background:@purple;
		color:@white;
		&:hover {
			background:@purplehover;
		}
	}
	&__white_transparent {
		-webkit-box-shadow: inset 0px 0px 0px 1px @white;
		-moz-box-shadow: inset 0px 0px 0px 1px @white;
		box-shadow: inset 0px 0px 0px 1px @white;
		background:transparent;
		color:@white;
		&:hover {
			background:@white;
			color:@darkblue;
		}
	}
	&__small {
		font-size:18px;
		width:238px;
		height:37px;
		line-height:37px;
	}
	&__medium {
		font-size:18px;
		text-transform:uppercase;
		width:380px;
		height:56px;
		line-height:56px;
		@media screen and (max-width: 639px) {
			font-size:14px;
			height:49px;
			line-height:49px;
			width:260px;
		}
	}
	&__big {

	}
}

/* index page */
.index_page {
	h2 {
		.bold;
		font-size:55px;
		line-height:60px;
		margin-bottom:50px;
		color:@darkblue;
		text-align:center;
		@media screen and (max-width: 1300px) and (min-width: 768px) {
			font-size:40px;
			line-height:55px;
		}
		@media screen and (max-width: 767px) and (min-width: 640px) {
			font-size:40px;
			line-height:55px;
		}
		@media screen and (max-width: 639px) {
			font-size:32px;
			line-height:40px;
			margin-bottom:20px;
		}
	}
}

/* welocme */ 
.index_page {
	.welcome {
		background-position: center center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-image: url(../images/index_welcome_bg.jpg);
		padding:190px 0px 220px 0px;
		@media screen and (max-width: 1300px) {
			background-image: url(../images/index_welcome_bg_small.jpg);
			background-position: bottom center;
		}
		@media screen and (max-width: 1300px) and (min-width: 768px) {
			padding:110px 0px 170px 0px;
			
		}
		@media screen and (max-width: 767px) and (min-width: 640px) {
			padding:110px 0px 160px 0px;
		}
		@media screen and (max-width: 639px) {
			padding:90px 0px 110px 0px;
		}
		.left_side {
			float:left;
			width:480px;
			@media screen and (max-width: 1300px) {
				float:none;
				width:100%;
			}
			.title {
				color:@darkblue;
				font-size:55px;
				line-height:70px;
				.bold;
				margin-bottom:21px;
				@media screen and (max-width: 1300px) and (min-width: 768px) {
					font-size:40px;
					line-height:55px;
					margin-bottom:0px;
					br {
						display:none;
					}
					text-align:center;
				}
				@media screen and (max-width: 767px) and (min-width: 640px) {
					font-size:40px;
					line-height:55px;
					margin-bottom:0px;
					text-align:center;
				}
				@media screen and (max-width: 639px) {
					font-size:32px;
					line-height:40px;
					margin-bottom:20px;
					text-align:center;
				}
			}
			.item {
				&__list {
					@media screen and (max-width: 639px) {
						padding:0px 15px;
					}
				}
				padding:35px 0px;
				position:relative;
				padding-left:160px;
				@media screen and (max-width: 1300px) and (min-width: 768px) {
					padding-left:0px;
					float:left;
					width:31.5%;
					margin-right:2.75%;
					&:last-child {
						margin-right:0px;
					}
					text-align:center;
				}
				@media screen and (max-width: 767px) and (min-width: 640px) {
					padding-left:0px;
					float:left;
					width:31.5%;
					margin-right:2.75%;
					&:last-child {
						margin-right:0px;
					}
					text-align:center;
				}
				@media screen and (max-width: 639px) {
					padding:15px 0px 15px 80px;
				}
				figure {
					position:absolute;
					left:0px;
					top:50%;
					.translate(@y:-50%);
					@media screen and (max-width: 1300px) and (min-width: 768px) {
						position:relative;
						top:0px;
						height:106px;
						.translate(@y:0%);
						text-align:center;
						margin-bottom:10px;
					}
					@media screen and (max-width: 767px) and (min-width: 640px) {
						position:relative;
						top:0px;
						height:90px;
						.translate(@y:0%);
						text-align:center;
						margin-bottom:10px;
						img {
							display:inline-block;
							width:100px;
						}
					}
					@media screen and (max-width: 639px) {
						img {
							width:60px;
						}
					}
				}
				.descr {
					max-width:230px;
					.semi-bold;
					font-size:21px;
					line-height:26px;
					color:@darkblue;
					@media screen and (max-width: 1300px) and (min-width: 768px) {
						max-width:160px;
						margin:0 auto;
						font-size:16px;
						line-height:24px;
					}
					@media screen and (max-width: 767px) and (min-width: 640px) {
						max-width:160px;
						margin:0 auto;
						font-size:16px;
						line-height:24px;
					}
					@media screen and (max-width: 639px) {
						font-size:14px;
						line-height:16px;
						padding-right:40px;
					}
				}
			}
		}

		.right_side {
			padding-top:10px;
			float:right;
			width:380px;
			margin-right:100px;
			@media screen and (max-width: 1300px) {
				float:none;
				width:100%;
				margin-right:0px;
			}
			.form {
				@media screen and (max-width: 1300px) and (min-width: 768px) {
					max-width:380px;
					margin:0 auto;
				}
				@media screen and (max-width: 767px) and (min-width: 640px) {
					max-width:380px;
					margin:0 auto;
				}
				@media screen and (max-width: 639px) {
					display:none;
				}
				.title {
					text-align:center;
					color:@darkblue;
					text-transform:uppercase;
					font-size:21px;
					.semi-bold;
					margin-bottom:31px;
					span {
						.semi-bold;
						color:@purple;
					}
				}
				&__row {
					position:relative;
					margin-bottom:25px;
					&:last-child {
						margin-bottom:0px;
					}
					&__notice {
						font-size:14px;
						line-height:18px;
						color:@darkblue;
						.light;
						font-style:italic;
						@media screen and (max-width: 767px) and (min-width: 640px) {
							text-align:center;
						}
					}
					&__submit {
						padding-top:10px;
						margin-bottom:21px;
					}
				}
				.input { 
					display:block;
					width:100%;
					height:56px;
					line-height:normal;
					padding:0px 15px;
					border:1px solid @darkblue;
					background:transparent;
					.placeholder(@grey);
					.placeholderitalic(italic);
					font-size:18px;
					.light;
					&.error {
						border:1px solid red;
					}
				}
				.submit {

				}
			}
		}

		.show_registration_popup {
			display:none;
			padding-top:20px;
			@media screen and (max-width: 639px) {
				display:block;
			}
			.notice {
				text-align:center;
				padding-top:17px;
				font-size:14px;
				line-height:18px;
				color:@darkblue;
				.light;
				font-style:italic;
				@media screen and (max-width: 767px) and (min-width: 640px) {
					text-align:center;
				}
			}
		}
	}
}

/* simple */
.index_page {
	.simple {
		padding-top:215px;
		@media screen and (max-width: 1300px) and (min-width: 768px) {
			padding-top:85px;
		}
		@media screen and (max-width: 639px) {
			padding-top:55px;
		}
		.item {
			&__list {
				padding-top:55px;
				margin-bottom:105px;	
				position:relative;			
				@media screen and (max-width: 1300px) and (min-width: 768px) {
					padding-top:0px;
					padding-left:65px;
					padding-right:65px;
					margin-bottom:60px;
					&:before {
						content:'';
						display:block;
						width:1px;
						height:420px;
						background:#e6eff3;
						position:absolute;
						left:30px;
						top:55px;
					}
				}
				@media screen and (max-width: 767px) and (min-width: 640px) { 
					padding-top:0px;
					padding-left:65px;
					padding-right:0px;
					margin-bottom:60px; 
					&:before {
						content:'';
						display:block;
						width:1px;
						height:420px;
						background:#e6eff3;
						position:absolute;
						left:30px;
						top:55px;
					}
				}
				@media screen and (max-width: 639px) {
					margin-bottom:40px;
				}
			}
			float:left;
			width:300px;
			margin-right:78px;
			position:relative;
			&:nth-child(1), &:nth-child(3) {
				@media screen and (max-width: 1300px) and (min-width: 768px) {
					padding:25px 80px 25px 150px;
					margin-right:0px;
					float:none;
					width:100%;
				}
				@media screen and (max-width: 767px) and (min-width: 640px) {
					padding:25px 0px 25px 125px;
					margin-right:0px;
					float:none;
					width:100%;
				}
				@media screen and (max-width: 639px) {
					float:none;
					margin-bottom:55px;
					padding:0px;
					width:100%;
				}
				figure {
					text-align:center;
					height:140px;
					margin-bottom:70px; 
					padding-top:25px;
					@media screen and (max-width: 1300px) and (min-width: 768px) {
						position:absolute;
						margin-bottom:0px;
						padding-top:0px;
						height:auto;
						left:0px;
						top:50%;
						.translate(@y:-50%);
					}
					@media screen and (max-width: 767px) and (min-width: 640px) {
						position:absolute;
						margin-bottom:0px;
						padding-top:0px;
						height:auto;
						left:0px;
						top:50%;
						.translate(@y:-50%);
					}
					@media screen and (max-width: 1300px) and (min-width: 768px) {
						&:before {
							content:'';
							width:12px;
							height:25px;
							position:absolute;
							left:-40px;
							top:50%;
							.translate(@y:-50%);
							background:url(../images/index_simple_before.jpg) no-repeat top center;
						}
					}
					@media screen and (max-width: 767px) and (min-width: 640px) {
						&:before {
							content:'';
							width:12px;
							height:25px;
							position:absolute;
							left:-40px;
							top:50%;
							.translate(@y:-50%);
							background:url(../images/index_simple_before.jpg) no-repeat top center;
						}
					}
					@media screen and (max-width: 639px) {
						height:auto;
						margin-bottom:10px; 
						padding-top:0px;
						position:relative;
						img {
							width:90px;
							display:inline-block;
						}
						&:before {
							content:'';
							width:12px;
							height:25px;
							position:absolute;
							left:50%;
							top:-38px;
							.translate(@x:-50%);
							background:url(../images/index_simple_before.jpg) no-repeat top center;
							z-index:2;
						}
						&:after {
							content:'';
							display:block;
							width:1px;
							height:40px;
							background:#e6eff3;
							position:absolute;
							left:50%;
							.translate(@x:-50%);
							top:-46px;
							z-index:1;
						}
					}
				}				
			}
			&:nth-child(2) {
				width:424px;
				@media screen and (max-width: 1300px) and (min-width: 768px) {
					margin-right:0px;
					float:none;
					width:100%;
					margin-top:45px;
					margin-bottom:27px;
				}
				@media screen and (max-width: 767px) and (min-width: 640px) {
					margin-right:0px;
					float:none;
					width:100%;
					margin-top:45px;
					margin-bottom:27px;
				}
				@media screen and (max-width: 639px) {
					float:none;
					margin-bottom:50px;
					padding:0px;
					width:100%;
					margin-right:0px;
				}
				figure {
					text-align:center;
					height:140px;
					margin-bottom:70px; 
					padding-top:0px;
					img {
						position:relative;
						left:-25px;
						@media screen and (max-width: 1300px) and (min-width: 768px) {
							left:0px;
						}
						@media screen and (max-width: 767px) and (min-width: 640px) {
							left:0px;
						}
						@media screen and (max-width: 639px) {
							left:0px;
						}
						&.large {
							display:block;
						}
						&.small {
							display:none;
						} 
						@media screen and (max-width: 639px) {
							&.large {
								display:none;
							}
							&.small {
								display:block;
							}
						}
					}
					@media screen and (max-width: 1300px) and (min-width: 768px) {
						text-align:left;
						margin-bottom:0px; 
						&:before {
							content:'';
							width:12px;
							height:25px;
							position:absolute;
							left:-40px;
							top:35px;
							background:url(../images/index_simple_before.jpg) no-repeat top center;
						}
					}
					@media screen and (max-width: 767px) and (min-width: 640px) {
						text-align:left;
						margin-bottom:0px; 
						&:before {
							content:'';
							width:12px;
							height:25px;
							position:absolute;
							left:-40px;
							top:35px;
							background:url(../images/index_simple_before.jpg) no-repeat top center;
						}
					}
					@media screen and (max-width: 639px) {
						text-align:center;
						height:auto;
						margin-bottom:15px;
						position:relative;
						&:before {
							content:'';
							width:12px;
							height:25px;
							position:absolute;
							left:50%;
							.translate(@x:-50%);
							top:-35px;
							background:url(../images/index_simple_before.jpg) no-repeat top center;
							z-index:2;
						}
						&:after {
							content:'';
							display:block;
							width:1px;
							height:40px;
							background:#e6eff3;
							position:absolute;
							left:50%;
							.translate(@x:-50%);
							top:-46px;
							z-index:1;
						}
					}
				}
				.descr {
					@media screen and (max-width: 1300px) and (min-width: 768px) {
						padding:15px 80px 25px 150px;
					}
					@media screen and (max-width: 767px) and (min-width: 640px) {
						padding:15px 0px 25px 30px;
					}
					@media screen and (max-width: 639px) {
						padding:0px;
					}
				}
			}
			&:last-child {
				margin-right:0px;
				@media screen and (max-width: 639px) {
					margin-bottom:0px;
				}
			}
			.descr {
				font-size:16px;
				line-height:21px;
				color:@grey;
				@media screen and (max-width: 639px) {
					text-align:center;
					font-size:14px;
					line-height:19px;
				}
			}
		}
	}
}

/* partners */
.index_page {
	.partners {
		padding-top:370px;
		@media screen and (max-width: 1300px) and (min-width: 768px) {
			padding-top:100px;
		}
		@media screen and (max-width: 767px) and (min-width: 640px) {
			padding-top:80px;
		}
		@media screen and (max-width: 639px) {
			padding-top:75px;
		}
		figure {
			padding-top:10px;
			text-align:center;
			margin-bottom:64px;
			img {
				max-width:100%;
			}
			.partners_1 {
				display:inline-block;				
			}
			.partners_2 {
				display:none;				
			}
			.partners_3 {
				display:none;				
			}
			@media screen and (max-width: 1300px) and (min-width: 640px) {
				margin-bottom:10px;
				.partners_2 {
					display:inline-block;				
				}
				.partners_1 {
					display:none;				
				}
				.partners_3 {
					display:none;				
				}
			}
			@media screen and (max-width: 639px) {
				margin-bottom:10px;
				.partners_3 {
					display:inline-block;				
				}
				.partners_1 {
					display:none;				
				}
				.partners_2 {
					display:none;				
				}
			}
		}
		.notice {
			text-align:center;
			font-size:16px;
			line-height:21px;
			color:#6e7376; 
			max-width:380px;
			margin:0 auto 70px auto;
			@media screen and (max-width: 1300px) and (min-width: 640px) {
				margin-bottom:45px;
			}
			@media screen and (max-width: 639px) {
				font-size:14px;
				line-height:18px;
				margin-bottom:35px;
			}
		}
	}
}

/* slider_site */
.index_page {
	.slider_site {
		padding-top:370px;
		@media screen and (max-width: 1300px) and (min-width: 768px) {
			padding-top:100px;
		}
		@media screen and (max-width: 767px) and (min-width: 640px) {
			padding-top:80px;
		}
		@media screen and (max-width: 639px) {
			padding-top:75px;
		}
		.slider_site__carousel {
			margin-bottom:70px;
			@media screen and (max-width: 1300px) and (min-width: 640px) {
				margin-bottom:45px;
			}
			@media screen and (max-width: 639px) {
				margin-bottom:35px;
			}
			.item {
				text-align:center;
				img {
					display:none;
					max-width:100%;
					width:auto;
					@media screen and (min-width: 1301px) {
						&.slider_site_1 {
							display:inline-block;
						}
					}
					@media screen and (max-width: 1300px) and (min-width: 768px) {
						&.slider_site_2 {
							display:inline-block;
						}
					}
					@media screen and (max-width: 767px) and (min-width: 640px) {
						&.slider_site_3 {
							display:inline-block;
						}
					}
					@media screen and (max-width: 639px) {
						&.slider_site_4 {
							display:inline-block;
						}
					}
					
				}
				.descr {
					text-align:center;
					font-size:16px;
					line-height:24px;
					color:#6e7376;
					padding-top:20px;
					@media screen and (max-width: 639px) {
						font-size:14px;
						line-height:18px;
					}
				}
			}
			.owl-dots {
				display:none;
			}
			.owl-nav {
				button {
					font-size:0px;
					display:block;
					width:32px;
					height:70px;
					position:absolute;
					left:0px;
					top:50%;
					.translate(@y:-50%);
					cursor:pointer;					
					background:url(../images/slider_prev.png) no-repeat top center;
					background-size:100%;
					@media screen and (max-width: 639px) {
						width:19px;
						height:44px;
						
					}
					&.owl-next {
						left:auto;
						right:0px;
						background:url(../images/slider_next.png) no-repeat top center;
						background-size:100%;
						@media screen and (max-width: 639px) {
							width:19px;
							height:44px;
						}
					}
				}
			}
		}
	}
}

/* result */
.index_page {
	.result {
		padding:190px 0px 250px 0px;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: center center;
		background-image: url(../images/reviews_bg_1.jpg);
		margin-top:50px;
		@media screen and (max-width: 1300px) and (min-width: 768px) {
			padding:100px 0px 225px 0px;
			margin-top:90px;
		}
		@media screen and (max-width: 767px) and (min-width: 640px) {
			padding:100px 0px 125px 0px;
			background-image: url(../images/reviews_bg_2.jpg);
			margin-top:25px;
		}
		@media screen and (max-width: 639px) {
			padding:50px 0px 140px 0px;
			background-image: url(../images/reviews_bg_2.jpg);
			margin-top:50px;
		}
		.slider_result {
			margin-bottom:70px;
			@media screen and (max-width: 1300px) and (min-width: 640px) {
				margin-bottom:45px;
			}
			@media screen and (max-width: 639px) {
				margin-bottom:35px;
			}
			.itemm {
				width:810px;
				margin:0 auto;
				@media screen and (max-width: 1300px) and (min-width: 768px) {
					width:590px;
				}
				@media screen and (max-width: 767px) {
					width:100%;
				}
				.top_title {
					display:none;
					text-align:center;	
					margin-bottom:47px;				
					@media screen and (max-width: 1300px) and (min-width: 768px) {
						display:block;
					}
					.title {
						font-size:32px;
						line-height:32px;
						.bold;
						color:@purple;
						margin-bottom:7px;
					}
					.subtitle {
						font-size:32px;
						line-height:32px;
						.bold;
						color:@darkblue;
					}
				}
				figure {
					float:left;
					width:255px;
					text-align:center;
					@media screen and (max-width: 1300px) and (min-width: 768px) {
						width:190px;
					}
					@media screen and (max-width: 767px) and (min-width: 640px) {
						float:none;
						width:100%;
						margin-bottom:20px;
					}
					@media screen and (max-width: 639px) {
						float:none;
						width:100%;
						margin-bottom:34px;
					}
					img {
						display:block;
						width:100%;
						@media screen and (max-width: 767px) and (min-width: 640px) {
							width:190px;
							display:inline-block;
						}
						@media screen and (max-width: 639px) {
							width:150px;
							display:inline-block;
						}
					}					
				}
				.block {
					float:right;
					width:430px;
					@media screen and (max-width: 1300px) and (min-width: 768px) {
						width:360px;
					}
					@media screen and (max-width: 767px) and (min-width: 640px) {
						float:none;
						width:100%;
					}
					@media screen and (max-width: 639px) {
						float:none;
						width:100%;
					}
					.title {
						font-size:35px;
						line-height:35px;
						.bold;
						color:@purple;
						margin-bottom:7px;
						@media screen and (max-width: 1300px) and (min-width: 768px) {
							display:none;
						}
						@media screen and (max-width: 767px) and (min-width: 640px) {
							text-align:center;
						}
						@media screen and (max-width: 639px) {
							text-align:center;
							font-size:24px;
							line-height:24px;
							margin-bottom:5px;
						}
					}
					.subtitle {
						font-size:35px;
						line-height:35px;
						.bold;
						color:@darkblue;
						margin-bottom:40px;
						@media screen and (max-width: 1300px) and (min-width: 768px) {
							display:none;
						}
						@media screen and (max-width: 767px) and (min-width: 640px) {
							text-align:center;
							margin-bottom:20px;
						}
						@media screen and (max-width: 639px) {
							text-align:center;
							font-size:24px;
							line-height:24px;
							margin-bottom:23px;
						}
					}
					.descr {
						position:relative;
						padding-left:50px;
						font-size:16px;
						line-height:21px;
						margin-bottom:26px;
						color:#6e7376;
						@media screen and (max-width: 1300px) and (min-width: 768px) {
							margin-bottom:10px;
						}
						@media screen and (max-width: 767px) and (min-width: 640px) {
							margin-bottom:20px;
							padding-right:50px;
							margin-left:20px;
						}
						@media screen and (max-width: 639px) {
							font-size:14px;
							line-height:19px;
							padding-left:30px;
						}
						&:before {
							content:'';
							display:block;
							width:28px;
							height:22px;
							position:absolute;
							left:0px;
							top:3px;
							background:url(../images/result_descr_icon.png) no-repeat top center;
							@media screen and (max-width: 639px) {
								width:19px;
								height:15px;
								background-size:100%;
								top:0px;
							}
						}
					}
					.author {
						font-style:italic;
						font-size:16px;
						line-height:21px;
						color:#6e7376;
						.light;
						b {
							.semi-bold;
							display:block;
						}
						@media screen and (max-width: 767px) and (min-width: 640px) {
							padding-left:70px;
						}
						@media screen and (max-width: 639px) {
							padding-left:30px;
						}
					}
				}
			}
			.owl-dots {
				display:none;
			}
			.owl-nav {
				button {
					font-size:0px;
					display:block;
					width:32px;
					height:70px;
					position:absolute;
					left:0px;
					top:50%;
					.translate(@y:-50%);
					cursor:pointer;					
					background:url(../images/slider_prev.png) no-repeat top center;
					background-size:100%;
					@media screen and (max-width: 1300px) and (min-width: 768px) {
						top:145px;
						.translate(@y:0%);
					}
					@media screen and (max-width: 767px) and (min-width: 640px) {
						top:45px;
						.translate(@y:0%);
					}
					@media screen and (max-width: 639px) {
						top:45px;
						.translate(@y:0%);
						width:19px;
						height:44px;						
					}
					&.owl-next {
						left:auto;
						right:0px;
						background:url(../images/slider_next.png) no-repeat top center;
						background-size:100%;
						@media screen and (max-width: 639px) {
							width:19px;
							height:44px;
						}
					}
				}
			}
		}
	}
}

/* plans */
.index_page {
	.plans {
		.plans_1 {
			.flex-display(@display: flex);
			.justify-content(@justify: space-between);
			width:100%;
			max-width:1020px;
			margin:0 auto;
			@media screen and (max-width: 767px) and (min-width: 640px) {
				display:none;
			}
			@media screen and (max-width: 639px) {
				display:block;
			}
			.item {
				.flex-basis(@width: 33.3%);
				position:relative;
				padding:50px 20px 140px 20px;
				.rounded(3px);
				@media screen and (max-width: 1300px) and (min-width: 768px) {
					.flex-basis(@width: 230px);
					padding-bottom:95px;
					&:nth-child(1) {
						padding-left:0px;
						.btn__fix {
							padding-right:20px
						}
					}
					&:nth-child(2) {
						.flex-basis(@width: 270px);
					}
					&:nth-child(3) {
						padding-right:0px;
						.btn__fix {
							padding-left:20px
						}
					}
				}
				@media screen and (max-width: 639px) {
					display:block;
					width:100%;
					margin-bottom:40px; 
					padding-bottom:70px;
					&:nth-child(1) {
						.shadow;
					}
					&:nth-child(3) {
						.shadow;
						margin-bottom:0px;
					}
				}
				ul {
					li {
						position:relative;
						padding-left:20px;
						font-size:16px;
						line-height:21px;
						color:#6e7376;
						margin-bottom:12px;
						&:last-child {
							margin-bottom:0px;
						}
						.light;
						@media screen and (max-width: 1300px) and (min-width: 768px) {
							font-size:14px;
							line-height:19px;
							margin-bottom:8px;
						}
						@media screen and (max-width: 639px) {
							font-size:14px;
							line-height:19px;
							margin-bottom:8px;
						}
						&:before {
							content:'';
							display:block;
							width:11px;
							height:11px;
							position:absolute;
							left:0px;
							top:4px;
							background:url(../images/index_plans_ul.png) no-repeat top center;
						}
					}
				}
				.title {
					position:relative;
					font-size:35px;
					.bold;
					text-align:center;
					color:@darkblue;
					margin-bottom:43px;
					@media screen and (max-width: 1300px) and (min-width: 768px) {
						font-size:32px;
						margin-bottom:21px;
					}
					@media screen and (max-width: 639px) {
						font-size:24px;
						margin-bottom:21px;
					}
				}
				.btn__wrap__center {
					position:absolute;
					left:0px;
					bottom:60px;
					width:100%;
					@media screen and (max-width: 1300px) and (min-width: 768px) {
						display:none;
					}
					@media screen and (max-width: 639px) {
						display:none;
					}
				}
				.btn__fix {
					display:none;
					position:absolute;
					left:0px;
					bottom:30px;
					width:100%;
					text-align:center;
					a {
						position:relative;
						padding-right:8px;
						text-decoration:none;
						font-size:12px;
						text-transform:uppercase;
						.bold;
						color:@purple;
						&:hover {
							text-decoration:underline;
						}
						&:before {
							content:'';
							display:block;
							position:absolute;
							right:0px;
							top:1px;
							width:4px;
							height:9px;
							background:url(../images/fake_btn_1.png) no-repeat top center;
						}
					}
					@media screen and (max-width: 1300px) and (min-width: 768px) {
						display:block;						
					}
					@media screen and (max-width: 639px) {
						display:block;
					}
				}
				&__type_1 {						
					@media screen and (min-width: 1300px) {
						.shadow;
					}
					@media screen and (max-width: 1300px) and (min-width: 768px) {

					}									
				}
				&__type_2 {		
					.btn__fix {
						a {
							color:@white;
							&:before {
								background:url(../images/fake_btn_2.png) no-repeat top center;
							}
						}
					}				
					position:relative; 
					&:before {
						.rounded(3px);
						content:'';
						display:block;
						position:absolute;
						left:0px;
						top:-3%;
						width:100%;
						height:106%;
						background-position: center center;
						background-repeat: no-repeat;
						-webkit-background-size: cover;
						-moz-background-size: cover;
						-o-background-size: cover;
						background-size: cover;
						background-image: url(../images/index_plans_bg.jpg);
						@media screen and (max-width: 639px) {
							top:0px;
							height:100%;
						}
					}
					.title {
						color:@white;
					}				
					ul {
						li {
							color:@white;
						}
					}
				}
			}
		}

		.slider_plans {
			display:none;
			@media screen and (max-width: 767px) and (min-width: 640px) {
				display:block;
			}
			.itemm {
				width:305px;
				margin:0 auto;
				margin-top:5px; 
				position:relative;
				padding:50px 20px 140px 20px;
				.rounded(3px);
				&.item__type_1 {
					.shadow;
				}
				&.item__type_2 {
					background-position: center center;
					background-repeat: no-repeat;
					-webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
					background-image: url(../images/index_plans_bg.jpg);
					ul {
						li {
							color:#FFF;
						}
					}
					.title {
						color:#FFF;
					}
					.btn__fix {
						a {
							color:#FFF;
							&:before {
								background:url(../images/fake_btn_2.png) no-repeat top center;
							}
						}						
					}
				}
				ul {
					li {
						position:relative;
						padding-left:20px;
						color:#6e7376;
						&:last-child {
							margin-bottom:0px;
						}
						.light;
						font-size:14px;
						line-height:19px;
						margin-bottom:8px;
						&:before {
							content:'';
							display:block;
							width:11px;
							height:11px;
							position:absolute;
							left:0px;
							top:4px;
							background:url(../images/index_plans_ul.png) no-repeat top center;
						}
					}
				}
				.title {
					position:relative;
					.bold;
					text-align:center;
					color:@darkblue;
					font-size:32px;
					margin-bottom:21px;
				}
				.btn__fix {
					display:block;
					position:absolute;
					left:0px;
					bottom:60px;
					width:100%;
					text-align:center;
					a {
						position:relative;
						padding-right:8px;
						text-decoration:none;
						font-size:12px;
						text-transform:uppercase;
						.bold;
						color:@purple;
						&:hover {
							text-decoration:underline;
						}
						&:before {
							content:'';
							display:block;
							position:absolute;
							right:0px;
							top:1px;
							width:4px;
							height:9px;
							background:url(../images/fake_btn_1.png) no-repeat top center;
						}
					}
				}
			}
			.owl-nav {
				button {
					font-size:0px;
					display:block;
					width:32px;
					height:70px;
					position:absolute;
					left:0px;
					top:50%;
					.translate(@y:-50%);
					cursor:pointer;					
					background:url(../images/slider_prev.png) no-repeat top center;
					background-size:100%;
					&.owl-next {
						left:auto;
						right:0px;
						background:url(../images/slider_next.png) no-repeat top center;
						background-size:100%;
					}
				}
			}
		}
	}
}

/* footer */
.index_page {
	.footer {
		padding-top:250px;
		background-position: bottom center;
		background-repeat: no-repeat;
		background-image: url(../images/index_footer_bg_1.jpg);
		&__top {
			.left_side {
				float:left;
				width:480px;
				@media screen and (max-width: 1300px) {
					float:none;
					width:100%;
				}
				.title {
					color:@darkblue;
					font-size:55px;
					line-height:70px;
					.bold;
					margin-bottom:21px;
					span {
						.bold;
						color:@purple;
					}
					@media screen and (max-width: 1300px) and (min-width: 768px) {
						font-size:40px;
						line-height:55px;
						margin-bottom:0px;
						br {
							display:none;
						}
						text-align:center;
					}
					@media screen and (max-width: 767px) and (min-width: 640px) {
						font-size:40px;
						line-height:55px;
						margin-bottom:0px;
						text-align:center;
					}
					@media screen and (max-width: 639px) {
						font-size:32px;
						line-height:40px;
						margin-bottom:20px;
						text-align:center;
					}
				}
				.item {
					&__list {
						@media screen and (max-width: 639px) {
							padding:0px 15px;
						}
					}
					padding:35px 0px;
					position:relative;
					padding-left:160px;
					@media screen and (max-width: 1300px) and (min-width: 768px) {
						padding-left:0px;
						float:left;
						width:31.5%;
						margin-right:2.75%;
						&:last-child {
							margin-right:0px;
						}
						text-align:center;
					}
					@media screen and (max-width: 767px) and (min-width: 640px) {
						padding-left:0px;
						float:left;
						width:31.5%;
						margin-right:2.75%;
						&:last-child {
							margin-right:0px;
						}
						text-align:center;
					}
					@media screen and (max-width: 639px) {
						padding:15px 0px 15px 80px;
					}
					figure {
						position:absolute;
						left:0px;
						top:50%;
						.translate(@y:-50%);
						@media screen and (max-width: 1300px) and (min-width: 768px) {
							position:relative;
							top:0px;
							height:106px;
							.translate(@y:0%);
							text-align:center;
							margin-bottom:10px;
						}
						@media screen and (max-width: 767px) and (min-width: 640px) {
							position:relative;
							top:0px;
							height:90px;
							.translate(@y:0%);
							text-align:center;
							margin-bottom:10px;
							img {
								display:inline-block;
								width:100px;
							}
						}
						@media screen and (max-width: 639px) {
							img {
								width:60px;
							}
						}
					}
					.descr {
						max-width:230px;
						.semi-bold;
						font-size:21px;
						line-height:26px;
						color:@darkblue;
						@media screen and (max-width: 1300px) and (min-width: 768px) {
							max-width:160px;
							margin:0 auto;
							font-size:16px;
							line-height:24px;
						}
						@media screen and (max-width: 767px) and (min-width: 640px) {
							max-width:160px;
							margin:0 auto;
							font-size:16px;
							line-height:24px;
						}
						@media screen and (max-width: 639px) {
							font-size:14px;
							line-height:16px;
							padding-right:40px;
						}
					}
				}
			}

			.right_side {
				padding-top:10px;
				float:right;
				width:380px;
				margin-right:100px;
				@media screen and (max-width: 1300px) {
					float:none;
					width:100%;
					margin-right:0px;
				}
				.form {
					@media screen and (max-width: 1300px) and (min-width: 768px) {
						max-width:380px;
						margin:0 auto;
					}
					@media screen and (max-width: 767px) and (min-width: 640px) {
						max-width:380px;
						margin:0 auto;
					}
					@media screen and (max-width: 639px) {
						display:none;
					}
					.title {
						text-align:center;
						color:@darkblue;
						text-transform:uppercase;
						font-size:21px;
						.semi-bold;
						margin-bottom:31px;
						span {
							.semi-bold;
							color:@purple;
						}
					}
					&__row {
						position:relative;
						margin-bottom:25px;
						&:last-child {
							margin-bottom:0px;
						}
						&__notice {
							font-size:14px;
							line-height:18px;
							color:@darkblue;
							.light;
							font-style:italic;
							@media screen and (max-width: 767px) and (min-width: 640px) {
								text-align:center;
							}
						}
						&__submit {
							padding-top:10px;
							margin-bottom:21px;
						}
					}
					.input { 
						display:block;
						width:100%;
						height:56px;
						line-height:normal;
						padding:0px 15px;
						border:1px solid @darkblue;
						background:transparent;
						.placeholder(@grey);
						.placeholderitalic(italic);
						font-size:18px;
						.light;
						&.error {
							border:1px solid red;
						}
					}
					.submit {

					}
				}
			}
		}
		&__bottom {
			padding-bottom:60px;
			text-align:center;
			.tel {
				.semi-bold ;
				font-size:55px;
				line-height:55px;
				color:@darkblue;
				margin-bottom:13px;
				&__notice {
					margin-bottom:150px;
					color:#6e7376;
					font-size:16px;
					text-transform:uppercase;
					span {
						color:@purple;
					}
				} 
			}
			.copy {
				color:#6e7376;
				&__top {
					font-size:18px;
					line-height:24px;
					color:#6e7376;
					.light;
					margin-bottom:16px;
					a {
						color:#0071db;
						.light;
					}
				}
				&__bottom {
					.light;
					font-size:14px;
				}
			}
		}
	}
}

.clear {clear:both;}
.clearfix:after {
	content:'';
	display:block;
	clear:both;
}

@media screen and (max-width: 1300px) and (min-width: 768px) {
	
}
@media screen and (max-width: 767px) and (min-width: 640px) {
	
}
@media screen and (max-width: 639px) {
	
}